extends layout

block content
	h1= title

	.pull-left
		h2 Windows Phone 480x800
		#phone480
			.container
				.row
					.span1.bg-color-green 1
					.span1.bg-color-lime 1
					.span1.bg-color-lime 1
					.span1.bg-color-lime 1
				.row
					.span1.bg-color-lime 1
					.span1.bg-color-lime 1
					.span2.span-right.bg-color-teal 2
					.span1.null-left.bg-color-lime 1
					.span1.bg-color-lime 1
					.span2.null-left.bg-color-teal 2
					.span1.bg-color-lime 1
					.span1.bg-color-lime 1
					.span1.bg-color-lime 1
					.span1.bg-color-lime 1
				.row
					.span4.bg-color-magenta 4
				
	.pull-left		
		h2 Windows Phone 720x1280
		#phone720
			.container
				.row
					.span1.bg-color-green 1
					.span1.bg-color-lime 1
					.span1.bg-color-lime 1
					.span1.bg-color-lime 1
				.row
					.span1.bg-color-lime 1
					.span1.bg-color-lime 1
					.span2.span-right.bg-color-teal 2
					.span1.null-left.bg-color-lime 1
					.span1.bg-color-lime 1
					.span2.null-left.bg-color-teal 2
					.span1.bg-color-lime 1
					.span1.bg-color-lime 1
					.span1.bg-color-lime 1
					.span1.bg-color-lime 1
				.row
					.span4.bg-color-magenta 4
					
	.pull-left		
		h2 Windows Phone 768x1280
		#phone768
			.container
				.row
					.span1.bg-color-green 1
					.span1.bg-color-lime 1
					.span1.bg-color-lime 1
					.span1.bg-color-lime 1
				.row
					.span1.bg-color-lime 1
					.span1.bg-color-lime 1
					.span2.span-right.bg-color-teal 2
					.span1.null-left.bg-color-lime 1
					.span1.bg-color-lime 1
					.span2.null-left.bg-color-teal 2
					.span1.bg-color-lime 1
					.span1.bg-color-lime 1
					.span1.bg-color-lime 1
					.span1.bg-color-lime 1
				.row
					.span4.bg-color-magenta 4