body
	font: 16px SegoeWP, sans-serif
	color white
	
@font-face
	font-family SegoeWP
	font-style normal
	font-weight 400
	src url('font/SegoeWP.ttf')
	
@font-face
	font-family SegoeWP
	font-style normal
	font-weight 300
	src url('font/SegoeWP-Light.ttf')
	
@font-face
	font-family SegoeWP
	font-style normal
	font-weight 700
	src url('font/SegoeWP-Bold.ttf')	
	
@font-face
	font-family SegoeWP
	font-style normal
	font-weight 600
	src url('font/SegoeWP-Semibold.ttf')	
	
lime = rgb(164, 196, 0)
green = rgb(96, 169, 23)
emerald = rgb(0, 138, 0)
teal= rgb(0, 171, 169)
cyan = rgb(27, 161, 226)
cobalt = rgb(0, 80, 239)
indigo = rgb(106, 0, 255)
violet = rgb(170, 0, 255)
pink = rgb(244, 114, 208)
magenta = rgb(216, 0, 115)
crimson = rgb(162, 0, 37)
red = rgb(229, 20, 0)
orange = rgb(250, 104, 0)
amber = rgb(240, 163, 10)
yellow = rgb(227, 200, 0)
brown = rgb(130, 90, 44)
olive = rgb(109, 135, 100)
steel = rgb(100, 118, 135)
mauve = rgb(118, 96, 138)
taupe = rgb(135, 121, 78)

#wrapper
	background black
	height 800px
	width 480px
	
.bg-color-lime
	background-color lime
.bg-color-green
	background-color green
.bg-color-emerald
	background-color emerald
.bg-color-teal
	background-color teal
.bg-color-cyan
	background-color cyan
.bg-color-cobalt
	background-color cobalt
.bg-color-indigo
	background-color indigo
.bg-color-violet
	background-color violet
.bg-color-pink
	background-color pink
.bg-color-magenta
	background-color magenta
.bg-color-crimson
	background-color crimson
.bg-color-red
	background-color red
.bg-color-orange
	background-color orange
.bg-color-amber
	background-color amber
.bg-color-yellow
	background-color yellow
.bg-color-brown
	background-color brown
.bg-color-olive
	background-color olive
.bg-color-steel
	background-color steel
.bg-color-mauve
	background-color mauve
.bg-color-taupe
	background-color taupe	
	
.container
	margin 0 auto
	height 750px
	padding 24px 0
	width 432px
	
.pull-left
	float left
	
.push-button
	border 2px solid white
	display inline-block
	height 30px
	font-size 1.063em
	min-width 84px
	margin 0 0.5em 0.5em 0
	padding 4px 15px 2px
	text-align center
	
.push-button:hover
.push-button:active
	background cyan
	
.push-button.disabled
	border-color rgba(255,255,255,0.4)
	color rgba(255,255,255,0.4)

.push-button.disabled:hover
.push-button.disabled:active
	background none
	
.row
	clear both
	overflow hidden
	text-align center
	
.span1
	float left
	height 99px
	width 22.92%
	
.span1:first-child
	margin-left 0
	
.span1
.span2
	margin-left 2.77%
	margin-top 2.66%
	
.span1.null-left	
.span2.null-left
	margin-left 0
	
.span2
	float left
	height 210px
	width 48.613%
	
.span2.span-right
	float right
	
.span2:first-child
	margin-left 0	
	
.span4
	height 210px
	margin-top 2.85%
	width 100%
	
.sub-title
	color rgba(255,255,255, 0.6)
	font-size 1em
	font-weight normal
	margin 0.8em 0
	
.title
	font-size 1.063em
	text-transform uppercase
	font-weight 600
	
.title-big
	font-size 3.375em
	font-weight 300
	line-height 1em
	margin 0.2em 0 0.5em
	text-transform lowercase	
	
@media (min-width: 720px)

	#wrapper
		height 1280px
		width 720px
	
	.container
		height 1230px
		padding 25px 0
		width 648px
		
	.span1
		height 149px
		
	.span2,
	.span4	
		height 315px

@media (min-width: 768px)
	
	#wrapper width 768px

	.container
		width 691px
		
	.span1
		height 159px
		
	.span2,
	.span4	
		height 336px