body {
  font: 16px SegoeWP, sans-serif;
  color: #fff;
}
@font-face {
  font-family: SegoeWP;
  font-style: normal;
  font-weight: 400;
  src: url("font/SegoeWP.ttf");
}
@font-face {
  font-family: SegoeWP;
  font-style: normal;
  font-weight: 300;
  src: url("font/SegoeWP-Light.ttf");
}
@font-face {
  font-family: SegoeWP;
  font-style: normal;
  font-weight: 700;
  src: url("font/SegoeWP-Bold.ttf");
}
@font-face {
  font-family: SegoeWP;
  font-style: normal;
  font-weight: 600;
  src: url("font/SegoeWP-Semibold.ttf");
}
#wrapper {
  background: #000;
  height: 800px;
  width: 480px;
}
.bg-color-lime {
  background-color: #a4c400;
}
.bg-color-green {
  background-color: #60a917;
}
.bg-color-emerald {
  background-color: #008a00;
}
.bg-color-teal {
  background-color: #00aba9;
}
.bg-color-cyan {
  background-color: #1ba1e2;
}
.bg-color-cobalt {
  background-color: #0050ef;
}
.bg-color-indigo {
  background-color: #6a00ff;
}
.bg-color-violet {
  background-color: #a0f;
}
.bg-color-pink {
  background-color: #f472d0;
}
.bg-color-magenta {
  background-color: #d80073;
}
.bg-color-crimson {
  background-color: #a20025;
}
.bg-color-red {
  background-color: #e51400;
}
.bg-color-orange {
  background-color: #fa6800;
}
.bg-color-amber {
  background-color: #f0a30a;
}
.bg-color-yellow {
  background-color: #e3c800;
}
.bg-color-brown {
  background-color: #825a2c;
}
.bg-color-olive {
  background-color: #6d8764;
}
.bg-color-steel {
  background-color: #647687;
}
.bg-color-mauve {
  background-color: #76608a;
}
.bg-color-taupe {
  background-color: #87794e;
}
.container {
  margin: 0 auto;
  height: 750px;
  padding: 24px 0;
  width: 432px;
}
.pull-left {
  float: left;
}
.push-button {
  border: 2px solid #fff;
  display: inline-block;
  height: 30px;
  font-size: 1.063em;
  min-width: 84px;
  margin: 0 0.5em 0.5em 0;
  padding: 4px 15px 2px;
  text-align: center;
}
.push-button:hover,
.push-button:active {
  background: #1ba1e2;
}
.push-button.disabled {
  border-color: rgba(255,255,255,0.4);
  color: rgba(255,255,255,0.4);
}
.push-button.disabled:hover,
.push-button.disabled:active {
  background: none;
}
.row {
  clear: both;
  overflow: hidden;
  text-align: center;
}
.span1 {
  float: left;
  height: 99px;
  width: 22.92%;
}
.span1:first-child {
  margin-left: 0;
}
.span1,
.span2 {
  margin-left: 2.77%;
  margin-top: 2.66%;
}
.span1.null-left,
.span2.null-left {
  margin-left: 0;
}
.span2 {
  float: left;
  height: 210px;
  width: 48.613%;
}
.span2.span-right {
  float: right;
}
.span2:first-child {
  margin-left: 0;
}
.span4 {
  height: 210px;
  margin-top: 2.85%;
  width: 100%;
}
.sub-title {
  color: rgba(255,255,255,0.6);
  font-size: 1em;
  font-weight: normal;
  margin: 0.8em 0;
}
.title {
  font-size: 1.063em;
  text-transform: uppercase;
  font-weight: 600;
}
.title-big {
  font-size: 3.375em;
  font-weight: 300;
  line-height: 1em;
  margin: 0.2em 0 0.5em;
  text-transform: lowercase;
}
@media (min-width: 720px) {
  #wrapper {
    height: 1280px;
    width: 720px;
  }
  .container {
    height: 1230px;
    padding: 25px 0;
    width: 648px;
  }
  .span1 {
    height: 149px;
  }
  .span2,
  .span4 {
    height: 315px;
  }
}
@media (min-width: 768px) {
  #wrapper width 768px,
  .container {
    width: 691px;
  }
  .span1 {
    height: 159px;
  }
  .span2,
  .span4 {
    height: 336px;
  }
}
