body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  padding: 10px 0;
}
a {
  color: #00b7ff;
}
#phone480 {
  border: 1px solid #808080;
  height: 800px;
  margin-right: 1em;
  width: 480px;
}
#phone720 {
  border: 1px solid #808080;
  height: 1280px;
  margin-right: 1em;
  width: 720px;
}
#phone720 .container {
  width: 648px;
}
#phone720 .span1 {
  height: 149px;
}
#phone720 .span2,
#phone720 #phone720,
#phone720 .span4 {
  height: 315px;
}
#phone768 {
  border: 1px solid #808080;
  height: 1280px;
  margin-bottom: 2em;
  width: 768px;
}
#phone768 .container {
  width: 691px;
}
#phone768 .span1 {
  height: 159px;
}
#phone768 .span2,
#phone768 #phone768,
#phone768 .span4 {
  height: 336px;
}
.bg-color-lime {
  background-color: #a4c400;
}
.bg-color-green {
  background-color: #60a917;
}
.bg-color-emerald {
  background-color: #008a00;
}
.bg-color-teal {
  background-color: #00aba9;
}
.bg-color-cyan {
  background-color: #1ba1e2;
}
.bg-color-cobalt {
  background-color: #0050ef;
}
.bg-color-indigo {
  background-color: #6a00ff;
}
.bg-color-violet {
  background-color: #a0f;
}
.bg-color-pink {
  background-color: #f472d0;
}
.bg-color-magenta {
  background-color: #d80073;
}
.bg-color-crimson {
  background-color: #a20025;
}
.bg-color-red {
  background-color: #e51400;
}
.bg-color-orange {
  background-color: #fa6800;
}
.bg-color-amber {
  background-color: #f0a30a;
}
.bg-color-yellow {
  background-color: #e3c800;
}
.bg-color-brown {
  background-color: #825a2c;
}
.bg-color-olive {
  background-color: #6d8764;
}
.bg-color-steel {
  background-color: #647687;
}
.bg-color-mauve {
  background-color: #76608a;
}
.bg-color-taupe {
  background-color: #87794e;
}
.container {
  margin: 0 auto;
  width: 432px;
}
.pull-left {
  float: left;
}
.row {
  clear: both;
  overflow: hidden;
  text-align: center;
}
.span1 {
  float: left;
  height: 99px;
  width: 22.92%;
}
.span1:first-child {
  margin-left: 0;
}
.span1,
.span2 {
  margin-left: 2.77%;
  margin-top: 2.66%;
}
.span1.null-left,
.span2.null-left {
  margin-left: 0;
}
.span2 {
  float: left;
  height: 210px;
  width: 48.613%;
}
.span2.span-right {
  float: right;
}
.span2:first-child {
  margin-left: 0;
}
.span4 {
  height: 210px;
  margin-top: 2.85%;
  width: 100%;
}
