body {
  margin: 0;
}
header {
  background: #000;
  margin-bottom: 1em;
  overflow: hidden;
  padding: 0.5em 0;
}
#colors .span1 {
  height: 40px;
  width: 40px;
}
#logo {
  color: #fff;
  margin: 0 auto;
  padding: 0 0.5em;
  width: 960px;
}
#wrapper {
  height: auto;
  margin: 0 auto;
}
#wrapper .container {
  height: auto;
}
.push-button.hover {
  background: #1ba1e2;
}
