body
	color #333

#content
	background black
	height 800px
	width 480px
	
#phone
	background url('img/phone.jpg') no-repeat
	color white
	height 800px
	width 480px
	padding 104px 77px 168px
	
#wrapper
	margin 0 auto
	width 960px	
	